{% extends 'base.html.twig' %}

{% block body %}
    <h3>Borrowed books</h3>

        <div class="row mt-3">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-subtitle mt-2 text-muted">Customer: {{ borrowed.customer.firstName }} {{ borrowed.customer.lastName }} </h5>
                        {% for book in borrowed.borrowedBooks %}
                            {% if book.book.available == false %}
                            <h6 class="card-subtitle mt-2 text-muted">{{ book.book.name }}  </h6>
                            <a href="{{ path('return_single_book',{id: book.book.id, borrowedId: borrowed.id}) }}" class="btn btn-danger">Return this book</a>
                            {% endif %}

                        {% endfor %}
                        <br/><a href="{{ path('edit_borrowed', {'id': borrowed.id}) }}" class="card-link">Edit</a>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
