{% extends 'base.html.twig' %}

{% block body %}
    <h3>Borrowed books</h3>

        <div class="row mt-3">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-subtitle mt-2 text-muted">Customer: {{ borrowed.user.firstName }} {{ borrowed.user.lastName }} </h5>
                        {% for book in borrowed.borrowedBooks %}

                            <h6 class="card-subtitle mt-2 text-muted">{{ book.book.name }}  </h6>
                            <a href="{{ path('return_single_book',{id: book.book.id, borrowedId: borrowed.id, borrowedBooks: book.id}) }}" class="btn btn-danger">Return this book</a>


                        {% endfor %}
                        <br/><a href="{{ path('edit_borrowed', {'id': borrowed.id}) }}" class="btn btn-primary">Edit</a>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
