{% extends 'base.html.twig' %}

{% block title %}Change info{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.author) }}
    {{ form_row(form.genre) }}
    {{ form_row(form.images) }}

    <button class="btn" formnovalidate>Submit</button>
    {{ form_end(form) }}
{% endblock %}