{% extends 'base.html.twig' %}

{% block body %}
    <h3>Borrowed books</h3>
    <table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">User</th>
        <th scope="col">Books</th>
        <th scope="col">Fee</th>
        <th scope="col">Details</th>
        <th scope="col">Return All</th>
    </tr>
    </thead>
        <tbody>
    {% for borrowedBook in borrowed %}
        <tr>
            <td>{{ borrowedBook.user.firstName }} {{ borrowedBook.user.lastName }}</td>
            <td>
                {% for book in borrowedBook.borrowedBooks %}

                    {{ book.book.name }}<br>

                {% endfor %}
            </td>
            <td>
                Borrowed for: {{ borrowedFor[borrowedBook.id] }} days<br>
                Late: {{ daysLate[borrowedBook.id] }} days<br>
                {{ lateFee[borrowedBook.id] }} USD
            </td>
            <td>
                <a href="{{ path('books_details', {'id': borrowedBook.id}) }}"
                   class="btn btn-primary">Details</a>
            </td>

            <td>
                <a href="{{ path('invoice', {'id': borrowedBook.id}) }}"
                   class="btn btn-primary">Invoice</a>
            </td>
            <td><a href="{{ path('return_books', {id: borrowedBook.id}) }}" class="btn btn-danger">Return all books</a></td>
        </tr>


    {% endfor %}
        </tbody>
    </table>
{% endblock %}
