{% extends 'base.html.twig' %}

{% block body %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <p class="nav-link">Library users: {{ totalUsers }}</p>
                <p class="nav-link">Books in the library: {{ totalBooks }}</p>
                <p class="nav-link">Available books: {{ availableBooks }}</p>




            </ul>
        </div>
        <div class="navbar-collapse">
            <ul class="navbar-nav ml-auto">


            </ul>

        </div>
    </nav>
    {{ form(formSearch, { 'attr': {'class': 'form-inline mr-auto'} }) }}
<div class="row">
<aside class="col-lg-2">
    <div class="block-content">
        <h3>Genres</h3>

        <ul class="list-group list-group-flush">
            {% for genre in genres %}
            <div class= "genre" id = "genre" style="display: none">

                    <a style="background-color:#eae7ea; color: black" href="{{ path('book_index') }}?genre={{ genre.name }}" class="list-group-item">{{ genre.name }}</a>

            </div>
            {% endfor %}
        </ul>
        <a class="btn purple-gradient btn-rounded btn-sm my-0" href="#" id="loadMore" >Show More</a>
    </div>
</aside>

        {% if topBooks != null %}

                    {% for book in topBooks %}
        <div class="row">
            <div class="col-sm-6">

                        <div class="card" style="width: 18rem;">
                        {% if book[0].images != null %}
                <img  style="width: 100%; height: 30vh;
object-fit: cover;" class="card-img-top" src="../../uploads/images/{{ book[0].images[0] }}" alt="Card image cap">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{  book[0].name}}</h5>
                    <p class="card-subtitle mb-2 text-muted">{{ book[0].author }}</p>
                    {% for genre in book[0].bookGenre %}
                    <p style="display: inline" class="card-text">{{genre.genre.name  }}</p>
                        {% endfor %}
                    <br><a style="color: white" href="{{ path('book_view', {'id': book[0].id}) }}" class="btn purple-gradient btn-sm my-0">Details</a>
                </div>
            </div>
                </div>

        </div>
            {% endfor %}
        {% endif %}


{% if books is defined and books is not null%}
    <section class="col-lg-9">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Book</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{% if book.images != null %}<img style="max-height: 50px"
                                                     src="../../uploads/images/{{ book.images[0] }}">{% endif %} {{ book.name }}
                </td>
                <td>{{ book.author }}</td>
                <td>
                    {% for genre in book.bookGenre %}

                            <h6 class="card-subtitle mt-2 text-muted">{{ genre.genre.name }}  </h6>

                    {% endfor %}
                </td>
                <td><a style="color: white" href="{{ path('book_view', {'id': book.id}) }}" class="btn purple-gradient btn-rounded btn-sm my-0">Details</a></td>

            </tr>
        {% endfor %}
        </tbody>

    </table>

    <div class="navigation">
        {{ knp_pagination_render(books, 'book/pagination.html.twig') }}
    </div>
        {% endif %}
    </section>
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{{ asset('js/showMore.js') }}"></script>

{% endblock %}


