{% extends 'base.html.twig' %}

{% block body %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <p class="nav-link">Library users: {{ totalUsers }}</p>
                <p class="nav-link">Books in the library: {{ totalBooks }}</p>
                <p class="nav-link">Available books: {{ availableBooks }}</p>
                <p class="nav-link">Borrowed books: {{ allBorrowedBooks }}</p>



            </ul>
        </div>
        <div class="navbar-collapse">
            <ul class="navbar-nav ml-auto">


            </ul>

        </div>
    </nav>
    {{ form(formSearch) }}
<div class="row">
<aside class="col-lg-2">
    <div class="block-content">
        <h3>Genres</h3>
        <ul>
            {% for genre in genres %}
            <li><a href="{{ path('book_index') }}?genre={{ genre.name }}" class="card-link">{{ genre.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</aside>
    <section class="col-lg-9">
        {% if topBooks != null %}
        <h3>Top Books Last Week</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Book</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>

            {% for book in topBooks %}
                <tr>
                    <td>{% if book[0].images != null %}<img style="max-height: 50px"
                                                         src="../../uploads/images/{{ book[0].images[0] }}">
                        {% endif %}
                        {{ book[0].name }}
                    </td>
                    <td>{{ book[0].author }}</td>
                    <td>
                        {% for genre in book[0].bookGenre %}

                            <h6 class="card-subtitle mt-2 text-muted">{{ genre.genre.name }}  </h6>

                        {% endfor %}
                    </td>
                    <td><a href="{{ path('book_view', {'id': book[0].id}) }}" class="card-link">Details</a></td>

                </tr>
            {% endfor %}

            </tbody>

        </table>
        {% endif %}
    <h3>Books in the Library</h3>


    <table class="table table-striped">
        <thead>
        <tr>
            <th>Book</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{% if book.images != null %}<img style="max-height: 50px"
                                                     src="../../uploads/images/{{ book.images[0] }}">{% endif %} {{ book.name }}
                </td>
                <td>{{ book.author }}</td>
                <td>
                    {% for genre in book.bookGenre %}

                            <h6 class="card-subtitle mt-2 text-muted">{{ genre.genre.name }}  </h6>

                    {% endfor %}
                </td>
                <td><a href="{{ path('book_view', {'id': book.id}) }}" class="card-link">Details</a></td>

            </tr>
        {% endfor %}
        </tbody>

    </table>

    <div class="navigation">
        {{ knp_pagination_render(books, 'book/pagination.html.twig') }}
    </div>
    </section>
</div>

{% endblock %}



