{% extends 'base.html.twig' %}

{% block title %}Lend a book{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.customer) }}
    {{ form_row(form.borrowDate) }}
    {{ form_row(form.returnDate) }}
    <ul class="books" data-prototype="{{ form_widget(form.borrowedBooks.vars.prototype)|e('html_attr') }}">

        {% for borrowedBook in form.borrowedBooks %}
            <li>{{ form_row(borrowedBook.book) }}</li>
        {% endfor %}
    </ul>
    <button class="btn" formnovalidate>Submit</button>
    {{ form_end(form) }}



{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/books.js') }}"></script>
    {% endblock %}
