{% extends 'base.html.twig' %}

{% block title %}New book{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.author) }}
    {{ form_row(form.genre) }}
    {{ form_row(form.images) }}
    <button class="btn" formnovalidate>Submit</button>
    {{ form_end(form) }}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        $('#book_form_images').on('change', function () {
            //get the file name
            var fileName = $(this).val();

            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(fileName);
        })
    </script>
{% endblock %}


