{% extends 'base.html.twig' %}

{% block title %}New book{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.author) }}
    <ul class="genres" data-prototype="{{ form_widget(form.bookGenre.vars.prototype)|e('html_attr') }}">

        {% for book in form.bookGenre %}
            <li>{{ form_row(book.genre) }}</li>
        {% endfor %}
    </ul>
    {{ form_row(form.images) }}
    {{ form_row(form.summary) }}
    {{ form_row(form.quantity) }}
    <button class="btn purple-gradient btn-rounded btn-sm my-0" formnovalidate>Submit</button>
    {{ form_widget(form.bookGenre) }}
    {{ form_end(form) }}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/genres.js') }}"></script>
    <script>
        $('#book_form_images').on('change', function () {
            //get the file name
            var fileName = $(this).val();

            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(fileName);
        })
    </script>
{% endblock %}


