{% extends 'base.html.twig' %}

{% block body %}

    <table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">User</th>
        <th scope="col">Email</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>


    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>

        <td>{{ user.firstName }} {{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td><a href="{{ path('employee_change', {'id': user.id}) }}" class="btn btn-secondary">Edit</a></td>
        <td><a href="{{ path('employee_delete', {'id': user.id}) }}" class="btn btn-danger">Delete</a></td>

    </tr>
    {% endfor %}
{% endblock %}