<!DOCTYPE html>
<html lang="hr">
<head>
    <title>Invoice</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style>
        * { font-family: DejaVu Sans, sans-serif; }
    </style>
</head>
{% block body %}
    <h2>Invoice</h2>
    <h4>Invoice ID: {{ onDeliveryTransaction.id }}</h4>
    <h4>Issue Date: {{ issueDate|date('d.m.Y. H:m') }}</h4>
    <h4>User:</h4>
    <p>{{ borrowed.user.firstName }} {{ borrowed.user.lastName }}</p><br>

    <h4>Books:</h4>
<ul>
    {% for borrowedBook in borrowed.borrowedBooks %}
    <li>{{ borrowedBook.book.name }}
    </li>

    {% endfor %}
</ul>
    <h4>Late Fee:</h4>
    <p>{{ lateFee }} USD</p>
{% endblock %}