{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">User</th>
        <th scope="col">Email</th>
        <th scope="col">Subscription</th>
        <th scope="col">Details</th>
        <th scope="col">Subscription History</th>


    </tr>
    </thead>
    <tbody>



    {% for user in users %}
        <tr>

            <td>{{ user.firstName }} {{ user.lastName }}</td>
            <td>{{ user.email }}</td>

            <td>{% if user.membership == false %}
                    NOT PAID
                {% else %}
                    OK
                {% endif %}</td>
            {% if is_granted('ROLE_ADMIN') %}
            <td><a href="{{ path('employee_view', {'id': user.id}) }}" class="btn btn-secondary">Details</a></td>
            {% else %}
                <td><a href="{{ path('employee_view', {'id': user.id}) }}" class="btn btn-secondary disabled">Details</a></td>
                {% endif %}
            <td><a href="{{ path('subscription_history', {'id': user.id}) }}" class="btn btn-secondary">History</a></td>
        </tr>

    {% endfor %}
    </tbody>
{% endblock %}