{% extends 'base.html.twig' %}

{% block title %}Wishlist{% endblock %}

{% block body %}


    <h3>My Wishlist</h3>
    {% for book in books %}
    <div  class="row mt-3">
        <div  class="col-lg-4">
            <div style="background-color:#eae7ea" class="card">
                <div class="card-body">
                    <h4 class="card-title mt-3 text-muted">{{ book.book.author }}</h4>
                    <h5 class="card-subtitle">{{ book.book.name }}</h5>
                    <p style="display: inline" class="card-text">Genres:
                        {% for genre in book.book.bookGenre %}

                    <p style="display: inline" class="card-text text-muted">{{ genre.genre.name }}  </p>

                        {% endfor %}

                    <p class="card-text">Summary:</p>
                    <p class="card-text">{{ book.book.summary }}</p>
                   <br><a href="{{ path('remove_from_wishlist', {'id': book.id}) }}" class="btn btn-secondary">Remove</a>
                </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}
